.gbc_CheckBoxWidget, .gbc_ThreeStateCheckBoxWidget {
  border: 1px dotted transparent;
  padding: 2px;

  > div {
    display: inline-flex;
    align-items: center;
    > span {
      margin-left: 8px;
      flex: 1 1 0px;
      cursor: default;
      white-space:nowrap;
    }
  }
  &.gbc_Focus {
    border-color: $gbc-separator-color;
  }
}