.gbc_ApplicationWidget {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;

  > .containerElement{
    flex: 1 1 auto;
    display: flex;
    > * {
      flex: 1 1 auto;
    }
  }

  >.gbc_WaitingWidget {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}